.parent{
    background-color:lightblue
}
#first{
    background-color: aquamarine;
    width: 300px;
    float: right;
    height: 50px;
    
}
#second{
    background-color: blue;
    height: 50px
    
    
    


    
    
}